secrets:
  postgres_user:
    file: ./secrets/postgres_user.txt
  postgres_password:
    file: ./secrets/postgres_password.txt

services:
  nginx:
    restart: always
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - ./web/static:/static
    networks:
      - frontend
    security_opt:
      - no-new-privileges:true

  web:
    restart: always
    build: ./web
    user: "0:0"
    secrets:
      - postgres_user
      - postgres_password
    environment:
      DEBUG: "False"
      POSTGRES_DB: db
      DATABASE_PORT: "5432"
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    depends_on:
      - postgres
    command: >
      sh -c "python3 ./create_db.py &&
             exec gunicorn -w 2 -b 0.0.0.0:8000 app:app"
    networks:
      - frontend
      - backend
    security_opt:
      - no-new-privileges:true


  postgres:
    restart: always
    image: postgres:15-alpine
    volumes:
      - db-data:/var/lib/postgresql/data
    secrets:
      - postgres_user
      - postgres_password
    environment:
      POSTGRES_DB: db
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    expose:
      - "5432"
    networks:
      - backend
    security_opt:
      - no-new-privileges:true

volumes:
  db-data:

networks:
  frontend:
  backend:
  